#comment
  .user-name
    = link_to comment.user.try(:user_name) || "Anonymous", profile_path(comment.user.try(:user_name))
  .comment-content
    = comment.content
  - if comment.user == current_user
    = link_to post_comment_path(post, comment), method: :delete, data: { confirm: "Are you sure?" }, remote: true do
      %button(class="btn-xs btn btn-warning") Remove
